In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,3,"p1", "a"], [1,2,3,"p1", "ab"], [1,2,3,"p2", "a"], [1,2,3,"p4", "c"], [1,2,3,"p3", "d"]])

In [3]:
df

   0  1  2   3   4
0  1  2  3  p1   a
1  1  2  3  p1  ab
2  1  2  3  p2   a
3  1  2  3  p4   c
4  1  2  3  p3   d

In [4]:
train_pids = ["p1", "p2"]
test_pids = ["p3", "p4"]

In [6]:
np.where(df.iloc[:,-2]=="p1")

0     True
1     True
2    False
3    False
4    False
Name: 3, dtype: bool

In [10]:
df[df.iloc[:, -2].isin(train_pids)]

   0  1  2   3   4
0  1  2  3  p1   a
1  1  2  3  p1  ab
2  1  2  3  p2   a